In [1]:
import pandas as pd

In [7]:
file = pd.read_csv("intermediary_file.csv", header=0)

In [8]:
file.head()

               9   3  9.1
0  GeometricMean NaN  NaN
1              7 NaN  NaN
2              8 NaN  NaN
3              4 NaN  NaN
4              3 NaN  NaN

In [4]:
file.count()

9      244
3        0
9.1      0
dtype: int64